<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exercises7_monstarlabs">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exercises7_MonstarLabs">
        <activity android:name=".activity.Home"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.AudioService" />
        <receiver android:name=".broadcast.AudioBroadcast">
            <intent-filter>
                <action android:name="com.iceman.onPlay"/>
                <action android:name="com.iceman.onPause"/>
                <action android:name="com.iceman.onPrevious"/>
                <action android:name="com.iceman.onNext"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>